# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:

- List popular languages used in Data Science
- List commonly used libraries used by Data Scientists
- List open source development environments used in Data Science
- Carry out arithmetic operations

#### Some of the popular Data Science Languages are :
    1. Python
    2. R
    3. SQL
    4. Julia
    5. C++

#### Some of the commonly used libraries by Data Scientists include:

1. Pandas
2. Seaborn
3. Scikit-learn
4. TensorFlow
5. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| Appache Zeppelin   |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335

## Author
Mugdha Joshi